:root {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  color-scheme: light;
  color: #333333;
  background-color: #fafafa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fafafa;
  color: #333333;
}

a {
  font-weight: bold;
  color: #007BFF;
  text-decoration: none;
  transition: all 0.3s ease;
}

a:hover {
  color: #0056b3;
}

h1 {
  font-size: 2.5rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}

button {
  border-radius: 25px;
  border: 2px solid transparent;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  background-color: #007BFF;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ffffff;
    background-color: #1a1a1a;
  }
  a {
    color: #66b2ff;
  }
  a:hover {
    color: #3399ff;
  }
  button {
    background-color: #333333;
    color: #ffffff;
  }
  button:hover {
    background-color: #555555;
    border-color: #66b2ff;
  }
}
